NODE_ENV=development
PORT=8086

DATABASE_URL=mongodb://localhost:27017/bicap_payment

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=payment-service
KAFKA_TOPIC_PAYMENT_SUCCESS=bicap.payment.success
KAFKA_OPTIONAL=true

JWT_SECRET=retailer-secret

VNPAY_TMN_CODE=DEMO_TMN
VNPAY_HASH_SECRET=DEMO_HASH_SECRET
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/payment/vnpay/callback

MOMO_PARTNER_CODE=DEMO_PARTNER
MOMO_ACCESS_KEY=DEMO_ACCESS
MOMO_SECRET_KEY=DEMO_SECRET
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_RETURN_URL=http://localhost:3000/payment/momo/callback
