NODE_ENV=development
PORT=8087

DATABASE_URL=mongodb://localhost:27017/bicap_iot

REDIS_URL=redis://localhost:6379
REDIS_OPTIONAL=true

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=iot-service
KAFKA_TOPIC_IOT_ALERT=bicap.iot.alert
KAFKA_OPTIONAL=true

IOT_SUMMARY_CRON=0 6 * * *
IOT_SUMMARY_TIMEZONE=Asia/Bangkok
